<div class="">
  <form (ngSubmit)="onSubmit(zipCode.value)">
    <label>Enter a zip code</label>
    <div class="form-group">
      <input type="text" #zipCode  class="form-control"/>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary ">submit</button>
    </div>
  </form>
  <div *ngIf="forcast">
    <img width="200" src={{icon}}/>
    <p>Location: {{forcast.name}}</p>
    <p>Temp: {{forcast.main.temp}} F</p>
    <p>Description: {{forcast.weather[0].description}}</p>
  </div>
</div>